@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --a:0;
}

body {
    background-color: black;
    color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.left {
    width: 28vw;
    padding: 10px;
}

.close {
    display: none;
}


.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 23px 3px;
    align-items: center;
    font-size: 13px;
}

.library {
    min-height: 71vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.footer a {
    color: gray;
}

.right {
    width: 75vw;
    margin-bottom: 40px;
    margin-top: 16px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(39, 38, 38);
    border-radius: 7px;
}

.header>* {
    padding: 20px;
}

.spotifyplaylists {
    padding: 16px;
}

.spotifyplaylists h1 {
    padding: 16px;
}


.cardcontainer {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    max-height: 60vh;
    overflow-y: auto;
}

.card:hover{
    background-color: black;
    cursor: pointer;
    --a:1;
}

.card {
    position: relative;
    margin-top: 20px;
    width: 172px;
    padding: 10px;
    border-radius: 5px;
    background-color: #2c2a2a;
    transition: all .9s;
}

.card>* {
    padding-top: 10px;
    font-size: 14px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    position: absolute;
    top: 134px;
    right: 14px;
    cursor: pointer;
    opacity: var(--a);
    transition: all 0.9s;
}

.play > svg{
    width : 38px;
    height: 46px; 
}

.buttons>* {
    margin: 0px 9px;
}

.signupbtn {
    background-color: rgb(39, 38, 38);
    color: rgb(156, 148, 148);
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 21px;
    font-weight: 500;
    padding: 10px;
    width: 80px;
}

.loginbtn:hover {
    font-weight: bold;
    width: 81px;
    background-color: rgba(255, 255, 255, 0.874);
}

.playbar {
    position: fixed;
    bottom: 8px;
    width: 71vw;
    padding: 7px;
    filter: invert(1);
    background: #9e9e9efa;
    border-radius: 10px;
    height: 45px;
}

.abovebar {
    display: flex;
    justify-content: space-between;
}

.songinfo,
.songtime {
    padding: 0 12px;
}

.songsbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    position: fixed;
    left: 35vw;
}

.songsbuttons img {
    cursor: pointer;

}

.songList {
    height: 405px;
    overflow: auto;
}

.songList ul {
    padding: 0px 10px;
}

.songList ul li {
    list-style: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    border: 1px solid white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    justify-content: space-between;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.hamburger {
    display: none;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    height: 4px;
    width: 98%;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    cursor: pointer;
}

.circle {
    height: 18px;
    width: 18px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 9px;
    left: 0%;
    transition: left 0.5s;
}

.timevol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.volume {
    display: flex;
    padding: 0px 8px;
    align-items: end;
    gap: 6px;
}

@media (max-width : 560px) {

    .header>* {
        padding: 17px;
    }

    .left {
        position: absolute;
        left: -120%;
        transition: all 0.3s;
        z-index: 2;
        width: 392px;
        background-color: black;
    }

    .close {
        display: block;
    }

    .close>img {
        position: absolute;
        top: 30px;
        right: 25px;
        width: 29px;
        cursor: pointer;
    }

    .right {
        width: 100vw;
        margin: 0;
    }

    .cardcontainer {
        max-height: 49vh;
        justify-content: center;
    }

    .card {
        width: 90vw
    }

    .songList {
        height: 579px;
    }

    .library {
        min-height: 114vh;
    }
   

    .play > svg{
        width: 0;
        height: 0;
    }

    .abovebar {
        flex-direction: column;
    }

    .playbar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding: 0;
        font-size: 18px;
        height: 150px;
    }

    .songsbuttons {
        position:static;
        margin-top: 12px;
    }

    .timevol{
        gap: 92px;
    }

    .volume {
       flex-direction: column;
       align-items: center;
    }

    .seekbar {
        width: 96%;
        margin-bottom: 7px;
    }

    .hamburger {
        display: block;
    }
}


@media (max-width : 1400px ) and (min-width : 560px){
    .left {
        position: absolute;
        left: -120%;
        transition: all 0.3s;
        z-index: 2;
        width: 392px;
        background-color: black;
    }

    .close {
        display: block;
    }

    .close>img {
        position: absolute;
        top: 30px;
        right: 25px;
        width: 29px;
        cursor: pointer;
    }

    .right {
        width: 100vw;
        margin: 0;
    }

    .cardcontainer {
        max-height: 63vh;
        justify-content: center;
    }

    .card {
        width: 35vw
    }  

    .songList {
        height: 579px;
    }

    .library {
        min-height: 89vh;
    }


    .play > svg{
        width: 0;
        height: 0;
    }

    .abovebar {
        max-width: 97vw;
    }

    .playbar {
        width: 99vw;
        font-size: 18px;
        height: 82px;
    }

    .songsbuttons {
        top: 34px;
        right: 34vw;
    }

    .timevol{
        flex-direction: column;
    }

    .volume {
       flex-direction: column;
       align-items: center;
    }

    .seekbar {
        width: 96%;
        margin-bottom: 9px;
    }

    .hamburger {
        display: block;
    }
}